<!-- Begin Footer -->
<footer class="footer">
  <div id="badges" class="badges">
    <!-- Place Badges Here -->
  </div>
  <div class="credits">
    <p>© 1987 - 2023</p>
  </div>
</footer>
<!-- End Footer -->
 <!-- Script section -->
 <script type="text/javascript">
  $("#navId a").click((e) => {
    e.preventDefault();
    $(this).tab("show");
  });
</script>
<script crossorigin="anonymous"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script crossorigin="anonymous"
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script crossorigin="anonymous"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<!-- Script Section -->
  </body>
</html>
