{% include header.html %}

<div class="container-lg py-6 p-responsive text-center">
  {% include masthead.html metadata=false %}

  <div class="container-md rounded-lg bg-white p-4 p-sm-5 mt-6 shadow-lg">
    <a href="/" class="f5 d-inline-flex flex-items-center link-with-chevron"><span class="mr-2 v-align-middle">{{ octicon "chevron-left" | height:16 | fill:"#0366d6" | aria-label:"Home" }}</span>Home</a>
    <h1 class="f00-light lh-condensed mt-3">{{ page.title }}</h1>
    {{ content }}
  </div>
</div>

{% include footer.html %}
